<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<tr class="totals">
    <th class="mark" scope="row" data-bind="text: title" style="color: #263238;font-family:Source Sans Pro;font-size: 16px;font-weight: 400;"></th>
    <td class="amount">
        <span class="price" data-bind ="text: getValue(), attr:{'data-label': title}" style="color: #263238;font-family:Source Sans Pro;font-size: 16px;font-weight: 400;"></span>
        <!-- ko foreach: elems() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </td>
</tr>
