<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="grand totals">
    <th class="mark" colspan="1" scope="row">
        <strong style="color: #263238;font-family: Source Sans Pro;font-size: 20px;font-weight: 400;">Total Amount to Pay</strong>
    </th>
    <td class="amount" data-th="Total Amount to Pay">
        <strong><span class="price" data-bind="text: getValue()" style="color: #263238;font-family: Source Sans Pro;font-size: 20px;font-weight:400;"></span></strong>
    </td>
</tr>
