<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="totals sub subtotal">
    <th class="mark" colspan="1" scope="row" data-bind="i18n: title" style="color: #00739B;font-family:Source Sans Pro;font-size: 16px;font-weight: 400;"></th>
    <td class="amount" data-th="Subtotal">
        <span class="price" data-bind="text: getValue()" style="color: #263238;font-family:Source Sans Pro;font-size: 16px;font-weight: 400;"></span>
    </td>
</tr>
